.ds-project-overview {
  .hero-body {
    padding-left: 0;
    padding-right: 0;

    .columns {
      margin-bottom: 2rem;
    }

    figure.ds-project-overview-image {
      border-radius: 5px;
      margin: 0.75rem;
      padding: 0;
    }

    .ds-project-overview-progress {
      margin: 2rem 0px;
    }
  }

  .progress {
    margin-bottom: 4px;
  }

  .ds-progress-text {
    font-size: 0.9em;
    color: $dark-grey;
  }
}

.ds-background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ds-project-overview-field {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: $black;

  input,
  textarea {
    &:focus {
      background-color: $white;
    }

    padding: 0 0 0 0.5rem;
    height: unset;
    border: none;
    background-color: $white-ter;
    box-shadow: none;
    width: unset;
    max-width: unset;
    min-height: unset !important;
  }

  input[disabled],
  textarea[disabled] {
    color: $black;
  }
}
