.ds-join-splash {
	background-size: cover;

	.hero-body {
		height: 100vh;

		h1.level-item.is-1 {
			font-size: 5rem;
		}

		.level {
			background-color: unset;
		}
	}

	// Styles from react toasts are overwriting .title styling from bulma

	h1.title {
		margin-bottom: 0 !important;
	}

	.title:not(:last-child), .subtitle:not(:last-child) {
    	margin-bottom: 1.5rem !important;
	}
}
