.profile-card {
  &__header {
    height: 212px;
    background-color: #01030f;
  }
  &__image {
    box-sizing: border-box;
    height: 156px;
    width: 156px;
    border: 1px solid #979797;
    border-radius: 50%;
    display: block;
    margin-top: 130px;
    margin-left: 40px;
    background-color: #d8d8d8;
  }
  &__content {
    padding-top: 80px;
    padding-left: 40px;
  }
  &__footer {
    padding: 20px;
    padding-bottom: 40px;
    bottom: 0px;
  }
  &__bio {
    margin-top: 20px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.file-label {
  padding-right: 40px;
}
