.ds-leaderboard {
	margin: 2rem 0;

	.columns {
		align-items: center;
		text-align: center;
		padding: 0.75em;
	}

	.column {
		flex-grow: 2;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.image {
		img {
			border-radius: 50%;
		}
	}

	.box {
		box-shadow: $ds-box-shadow;
		margin-bottom: 1.5rem;
	}

	.rank {
		flex-grow: 1;
	}

	.contributor {
		flex-grow: 3;
	}
}

.ds-leaderboard-header.box {
	box-shadow: none !important;
	background-color: inherit;
	margin-bottom: 0;
	color: $component-title-color;
}