.project-card {
  height: 550px;
  font-family: Avenir;
  &__image-container {
    height: 45%;
  }
  &__image {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__footer {
    padding: 40px;
    bottom: 0px;
    position: absolute;
    width: 100%;
  }
  &__content {
    .title {
      font-size: 28px;
      font-weight: 500;
      line-height: 38px;
    }
    .subtitle-ds {
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      margin-top: 12px;
    }
  }
  &__description {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
