.ds-overview {
  position: absolute;
  top: $ds-navbar-height;
  right: 0;
  bottom: 0;
  left: $ds-sidebar-width;
  overflow-y: scroll;
  padding: 2rem 4rem;
  background-color: $ds-task-management-background-color;
}

.ds-add-topic {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: $white-ter;
  color: $ds-task-management-text-color;
  border: none;
}

.ds-section-title * {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: $ds-task-management-text-color;

  input {
    &:focus {
      background-color: $white;
    }

    border: none;
    background-color: $white-ter;
    box-shadow: none;
    font-size: $size-5;
    width: unset;
    max-width: unset;
  }
}

.ds-add-section {
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.ds-task-management {
  text-align: right;

  h2,
  p {
    color: $ds-task-management-text-color;
  }

  h2.title {
    font-weight: 300;
  }
}

.ds-section-container {
  margin-bottom: 4rem;
}

.modal {
  .modal-card {
    border-radius: 7px !important;
  }

  .modal-card-head {
    border-bottom: none;

    .modal-card-title {
      color: $ds-task-management-text-color;
    }
  }

  .field-label label {
    color: $dark-grey;
    font-weight: 400;
  }

  .field {
    color: $dark-grey !important;
    font-weight: 400;

    .Select-value {
      color: $primary;
      background-color: $white;
      // border-color: $secondary-blue;
      border-radius: 4px;

      span {
        border-right-color: $secondary-blue;
      }
    }
  }
}

.ds-tags {
  padding: 0.5rem 0;

  .tag {
    border-top: 1px solid $ds-task-management-points-text-color;
    border-bottom: 1px solid $ds-task-management-points-text-color;
    border-radius: 0px;
    background-color: inherit;
    margin-bottom: 0px;
    padding: 0;

    p {
      font-weight: 700;
      font-size: 0.75rem;
      color: $ds-task-management-points-text-color;
      padding: 0 0.5rem;
    }

    &:not(:last-child) {
      p {
        border-right: 1px solid $ds-task-management-points-text-color;
      }
    }
  }

  .tag:first-child {
    border-left: 1px solid $ds-task-management-points-text-color;
  }

  .tag:last-child {
    border-right: 1px solid $ds-task-management-points-text-color;
  }
}

.horizontal-line {
  border-bottom: 1px solid $primary;
  height: 50%;
}