::-webkit-scrollbar {
  display: none;
}

.tile.is-ancestor {
  flex-wrap: wrap;
}

.tile.is-child.box {
  box-shadow: $ds-box-shadow;
  position: relative;
  max-width: 100%;
  text-align: left;

  h2 {
    font-weight: 600;
  }

  i.fa {
    color: #ccc;
  }

  .content {
    height: 100px;
    overflow-y: hidden;
  }
}

.level.ds-points {
  margin-bottom: 1rem;
}

.ds-points {
  .ds-points-number {
    color: $ds-task-management-points-text-color;
    font-weight: 900;
  }
  
  p {
    color: $ds-task-management-points-text-color;
  }
}

.ds-topic-tile-skills {
  a {
    margin-right: 4px;
    margin-top: 4px;
  }
}

.ds-topic-edit-buttons {
  padding: 0.5rem;
  opacity: 0;
  animation: ds-fadeout 0.4s;
}

.ds-topic-edit-buttons:hover {
  opacity: 1;
  animation: ds-fadein 0.4s; 
}