$ds-task-management-background-color: #F2F5F7;
$ds-task-management-text-color: $component-title-color;
$ds-task-management-points-text-color: #1C8DF3;
$ds-task-management-add-topic-background-color: #EBEFF2;