.ds-kanban {
  overflow-x: scroll;
  white-space: nowrap;
}

.ds-kanban-col {
  width: 250px;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: top;

  h5 {
    text-align: center;
    padding: 0.7rem;
    color: $white;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
  }

  > div {
    padding: 0 1rem;
  }
}

.ds-kanban-box {
  cursor: pointer;
  border-radius: 3px;
  padding: 0.6rem 1rem;
  margin-bottom: 0.5rem;
  box-shadow: $ds-box-shadow;
}

.ds-kanban-box-disabled {
  background-color: $grey-light;
  cursor: auto;
}

.ds-add-task-col {
  width: 250px;
  padding: 0 1rem;

  .button {
    padding: 1.3rem 1rem;
    box-shadow: none;
    border: dashed 0.15em #ddd;
    background-color: $ds-task-management-add-topic-background-color;
    color: #ccc;
  }
}

.ds-kanban-helper {
  list-style: none;
}
