.ds-tag {
  margin-bottom: 0 !important;
  font-size: $size-9;
  color: $green;
  background-color: $white;
  border: 1px solid $green;
  border-radius: 0;
}

.ds-tag.is-danger {
  color: $red;
  background-color: $white;
  border: 1px solid $red;
}

.button-continue {
  padding: 1.2rem;
  height: 2rem;
  font-weight: $weight-bold;
  box-shadow: $ds-box-shadow;
}

.ds-task-modal-content {
  position: relative;
  padding: 20px;
  min-height: 30rem;

  .level {
    align-items: flex-start;

    .level-left {
      .level-item {
        display: block;

        p {
          max-width: 17rem;
        }
      }
    }
  }

  .ds-task-nav {
    li:first-child {
      a {
        padding-left: 0;
      }
    }
  }

  .info-box {
    display: inline-block;
    text-align: center;

    p {
      font-size: $size-9;
    }
  }

  .task-modal-description {
    p {
      overflow-y: scroll;
      margin-bottom: 1rem;
      height: 10rem;
      color: $grey;
      font-size: $size-7;
    }
  }

  .task-modal-clarification {
    margin-bottom: 1rem;
    font-weight: $weight-bold;
    font-size: $size-8;
  }

  .task-modal-hr {
    width: 35%;
  }
}

.ds-task-modal-options {
  position: relative;
  padding: 1rem 1.5rem;
  background-color: $white-ter;

  .options-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }

  .options-buttons {
    position: absolute;
    right: 0;
    bottom: 1rem;
    left: 0;
    margin: auto;
    text-align: center;

    a:not(:first-child) {
      margin-left: 0.75rem;
    }

    a {
      background-color: $grey-lighter;
      color: $grey;
    }
  }

  .info-panel {
    .relinquish-task {
      display: inline-block;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
    }

    .completed-box {
      width: 100%;
      text-align: center;
    }

    ul li {
      margin-bottom: 1rem;

      .media {
        align-items: center;

        small {
          display: block;
          font-size: $size-9;
        }

        strong {
          display: block;
          font-size: $size-7;
        }
      }
    }
  }
}

.ds-task-add-modal {
  z-index: 50;
}
