@import 'toasts';
@import 'loader';

html,
body,
#root {
  height: 100%;
}

p {
  word-break: break-word;
  white-space: normal;
}

.title {
  margin-bottom: 1rem !important;
}

.textarea {
  resize: none;
}

.is-size-9 {
  font-size: $size-8;
}

.is-weight-bold {
  font-weight: $weight-bold;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.is-round img {
  border-radius: 50%;
}

.Select-value {
  background-color: $white !important;
}

.ds-content {
  position: absolute;
  top: $ds-navbar-height;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding: 2rem 3rem;
  background-color: $white-ter;
  background-size: cover;
  background-position: left;
}

.ds-content-unauthed {
  margin: 1rem 0 0 0;
  padding: 2rem 3rem;
  background-color: $white;
}

.ds-primary-button {
  padding: 0.6rem 0;
  height: auto !important;
  width: 100%;
  text-transform: uppercase;
  font-weight: $weight-bold;
  font-size: $size-7;
}

.is-linkedin-blue {
  background-color: $linkedin-blue;
  border-color: transparent;
  color: $white;

  &:hover {
    border-color: transparent;
    color: $white;
  }
}

.is-facebook-blue {
  background-color: $facebook-blue;
  border-color: transparent;
  color: $white;

  &:hover {
    border-color: transparent;
    color: $white;
  }
}

.is-secondary-blue {
  background-color: $secondary-blue;
  color: $white-ter;
}

.is-red {
  background-color: $red;
  color: $white-ter;
}

.ds-component-title {
  color: $component-title-color;
  text-transform: uppercase;
}

.has-border-right {
  border-right: 1px solid #eee;
}

.has-no-background {
  background: none;
}

.has-background-white {
  background-color: $white;
}
