.toastify {
	z-index: 100;
}

.success-toast {
	background-color: $success;
	color: $white;
	font-family: $family-sans-serif;
}

.info-toast {
	background-color: $info;
	color: $white;
	font-family: $family-sans-serif;
}

.error-toast {
	background-color: $danger;
	color: $white;
	font-family: $family-sans-serif;
}
