.ds-projects-list {
  padding: 1rem 2rem;

  .title {
    color: $white;
    font-weight: 300;
  }

  .dropdown-trigger {
  	a {
  		color: #fff;

  		&:hover {
  			color: $ds-navbar-item-text-hover-color;
  		}
  	}
  }

  .dropdown,
  .dropdown-trigger,
  .dropdown-menu {
    width: 100%;
  }
}