.ds-sidebar {
  @media screen and (max-width: 1007px){
    width: $ds-sidebar-width-narrow;
  }

  z-index: 10;
  flex: none;
  width: $ds-sidebar-width;
  height: 100vh;
  background-color: $ds-navbar-background-color;
  padding-top: 0px;
  font-weight: 400;

  .ds-sidebar-logo {
    @media screen and (max-width: 1007px) {
      padding: 0 1.65rem;
    }

    padding: 0 2rem;
    height: $ds-navbar-height;
    border-bottom: 1px solid $ds-navbar-logo-bottom-border-color;

    .ds-logo {
      height: 42px;
      width: 42px;
    }

    .level-item {
      justify-content: flex-start;
      padding: 0 0.75rem;
    }

    h2 {
      color: #fff;
      font-weight: 300;
    }
  }

  .ds-menu-list {
    @media screen and (max-width: 1007px){
      padding: 0 2.2rem;
    }
    padding: 0 2rem;

    li {
      
      margin: 2rem 0; 

      a {
        span {
          font-size: 0.9rem;
          color: $ds-navbar-item-text-color;

          &.level-item {
            justify-content: flex-start !important;
          }
        }
          
        span:nth-child(2) {
          padding: 0 0.75rem;
        }

        // Hover
        &:hover {
          span {
            color: $ds-navbar-item-text-hover-color;
          }
        }
      }
    }
  }
}
