// Variable overwrites
@import 'node_modules/bulma/sass/utilities/initial-variables';

// Colors
$green: #3ad396;
$blue: #178bf7;
$secondary-blue: #60d3e5;
$dark-blue: #08498f;
$white: #ffffff;
$dark-grey: #aaa;
$mid-grey: #9fa2a4;
$red: #f86072;

$primary: $blue;
$component-title-color: $mid-grey;

$linkedin-blue: #1178b2;
$facebook-blue: #3b5791;

// Font Sizes
$size-7: 0.9rem;
$size-8: 0.75rem; // bulma is-size-7 is already 0.75rem
$size-9: 0.65rem;
$is-size-9: 0.65rem; //this is more in line with bulma's text customization

// Typography
$family-sans-serif: 'Nunito Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
	sans-serif;
// Misc --
$ds-sidebar-width: 18rem;
$ds-sidebar-width-narrow: 6rem;

$ds-navbar-height: 4rem;

$breadcrumb-item-color: $grey-light;
$breadcrumb-item-active-color: $secondary-blue;
$breadcrumb-item-hover-color: $secondary-blue;
$breadcrumb-item-separator-color: $grey-light;

$label-weight: $weight-normal;
$label-color: $grey-light;

$modal-content-width: 800px;

$title-weight: $weight-normal;

$ds-box-shadow: 2px 0px 10px 2px #eee;

@import '/components/nav/variables';
@import '/components/kanban/variables';
