.ds-navbar {
	padding: 0.7rem 3.5rem;
	height: $ds-navbar-height;
	background-color: $white;
	box-shadow: 0.1rem 0 2em $grey-lighter;
	z-index: 5;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;

	.level-left {
		img {
			height: 2.5rem;
			padding-right: 0.5rem
		}
	}
}

.ds-navbar-unauthed {
	background-color: $dark-blue;
}

.nav-icon {
	margin-right: 1.5rem !important;
	a {
		color: $grey-light;
	}
}
