nav .ds-searchbar {
  input {
    width: 400px;
    border: none;
    background-color: $nav-searchbar-input-color;
    box-shadow: none;
  }

  select {
    border: none;
    background-color: $nav-searchbar-select-color;
    color: $nav-searchbar-select-text-color;
  }
}
