.ds-user-menu-button:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
}

.ds-menu-dropdown-background {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.ds-user-menu-dropdown {
  .dropdown-content {
    box-shadow: 2px 0px 10px 2px #eee !important;
  }

  .dropdown-item {
    h3 strong {
      color: #9fa2a4;
    }
  }

  .button {
    padding: 1.25rem 1.5rem;
  }

  a:not(.button) {
    color: #aaa;
  }

  a:not(.button):hover {
    color: $primary;
  }
}

.ds-projects-container {
  max-height: 10rem;
  overflow-y: scroll;
}

.project-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;

  figure {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
